CloudantFlow.json
[{"id":"162ec482.a8e47b","type":"tab","label":"Cloudant","disabled":false,"info":""},{"id":"b0856803.451ea8","type":"ui_form","z":"162ec482.a8e47b","name":"","label":"","group":"6ae96e0c.bba2e","order":1,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email Id","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"pwd","type":"password","required":true,"rows":null},{"label":"Enter the gender","value":"gender","type":"text","required":true,"rows":null},{"label":"Enter Roll No","value":"rollno","type":"text","required":true,"rows":null},{"label":"Enter Phone No.","value":"phno","type":"number","required":true,"rows":null},{"label":"Enter Branch","value":"branch","type":"text","required":true,"rows":null},{"label":"Enter College Name","value":"clg","type":"text","required":true,"rows":null},{"label":"Enter year of passing","value":"yop","type":"number","required":true,"rows":null}],"formValue":{"name":"","email":"","pwd":"","gender":"","rollno":"","phno":"","branch":"","clg":"","yop":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":180,"y":160,"wires":[["e1c1ff55.3dab5","3166bd.c3691944"]]},{"id":"4e094c80.2bf894","type":"cloudant out","z":"162ec482.a8e47b","name":"","cloudant":"","database":"student_details","service":"node-red--cloudant-1591775133051-42621","payonly":true,"operation":"insert","x":460,"y":160,"wires":[]},{"id":"e1c1ff55.3dab5","type":"function","z":"162ec482.a8e47b","name":"","func":"msg.payload = {\n    _id:msg.payload.email,\n    Name: msg.payload.name,\n    Email: msg.payload.email,\n    Password: msg.payload.pwd,\n    Gender:msg.payload.gender,\n    Rollnumber:msg.payload.rollno,\n    Phonenumber:msg.payload.phno,\n    Branch:msg.payload.branch,\n    College:msg.payload.clg,\n    YearofPassing:msg.payload.yop\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":80,"wires":[["4e094c80.2bf894"]]},{"id":"3166bd.c3691944","type":"function","z":"162ec482.a8e47b","name":"","func":"msg.payload=\"Hey \"+msg.payload.name+\"! Registration Successful.\"\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":260,"wires":[["e2931a45.96b3d8"]]},{"id":"e2931a45.96b3d8","type":"ui_text","z":"162ec482.a8e47b","group":"6ae96e0c.bba2e","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":260,"wires":[]},{"id":"8ab8ad7a.806ea","type":"ui_form","z":"162ec482.a8e47b","name":"","label":"","group":"68bfd81d.8e71f8","order":1,"width":0,"height":0,"options":[{"label":"Enter Email Id","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"pwd","type":"password","required":true,"rows":null}],"formValue":{"email":"","pwd":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":200,"y":460,"wires":[["677b930.d462f6c"]]},{"id":"677b930.d462f6c","type":"function","z":"162ec482.a8e47b","name":"","func":"global.set(\"email\",msg.payload.email);\nglobal.set(\"pwd\",msg.payload.pwd);\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":400,"wires":[["abfbfb29.868838"]]},{"id":"b5a50558.7b5588","type":"cloudant in","z":"162ec482.a8e47b","name":"","cloudant":"","database":"student_details","service":"node-red--cloudant-1591775133051-42621","search":"_id_","design":"","index":"","x":680,"y":460,"wires":[["e1a4f0f9.a4524","ea7d38c5.3b13c8"]]},{"id":"abfbfb29.868838","type":"function","z":"162ec482.a8e47b","name":"","func":"var email = global.get(\"email\")\nmsg.payload = {\n    \"_id\":email\n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":400,"wires":[["b5a50558.7b5588"]]},{"id":"e1a4f0f9.a4524","type":"debug","z":"162ec482.a8e47b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":880,"y":460,"wires":[]},{"id":"ea7d38c5.3b13c8","type":"function","z":"162ec482.a8e47b","name":"","func":"var pwd = global.get(\"pwd\")\nif(msg.payload.Password==pwd){\n    msg.payload=\"Login successful!\"\n}\nelse{\n    msg.payload=\"Invalid Password\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":540,"wires":[["f7465746.077378"]]},{"id":"f7465746.077378","type":"ui_text","z":"162ec482.a8e47b","group":"68bfd81d.8e71f8","order":2,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":540,"wires":[]},{"id":"6ae96e0c.bba2e","type":"ui_group","z":"","name":"Registration","tab":"fe359a4c.30c3e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"68bfd81d.8e71f8","type":"ui_group","z":"","name":"Login","tab":"62232165.dc408","order":1,"disp":true,"width":"6","collapse":false},{"id":"fe359a4c.30c3e8","type":"ui_tab","z":"","name":"Student","icon":"dashboard","disabled":false,"hidden":false},{"id":"62232165.dc408","type":"ui_tab","z":"","name":"Student Login","icon":"dashboard","disabled":false,"hidden":false}]