DB2flow.json
[{"id":"19645299.d4ff1d","type":"tab","label":"DB2","disabled":false,"info":""},{"id":"ebe285c5.c7d948","type":"ui_form","z":"19645299.d4ff1d","name":"","label":"","group":"6ae96e0c.bba2e","order":1,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email Id","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"pwd","type":"password","required":true,"rows":null},{"label":"Enter the gender","value":"gender","type":"text","required":true,"rows":null},{"label":"Enter Roll No","value":"rollno","type":"text","required":true,"rows":null},{"label":"Enter Phone No.","value":"phno","type":"number","required":true,"rows":null},{"label":"Enter Branch","value":"branch","type":"text","required":true,"rows":null},{"label":"Enter College Name","value":"clg","type":"text","required":true,"rows":null},{"label":"Enter year of passing","value":"yop","type":"number","required":true,"rows":null}],"formValue":{"name":"","email":"","pwd":"","gender":"","rollno":"","phno":"","branch":"","clg":"","yop":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":160,"wires":[["dbe43296.d058","98e35a71.16cfa8"]]},{"id":"dbe43296.d058","type":"function","z":"19645299.d4ff1d","name":"","func":"msg.payload = {\n    NAME: msg.payload.name,\n    EMAIL: msg.payload.email,\n    PASSWORD: msg.payload.pwd,\n    GENDER:msg.payload.gender,\n    ROLLNO:msg.payload.rollno,\n    PHONENUMBER:msg.payload.phno,\n    BRANCH:msg.payload.branch,\n    COLLEGE:msg.payload.clg,\n    YEAROFPASSING:msg.payload.yop\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":80,"wires":[["d6b2de5c.ea2d2"]]},{"id":"98e35a71.16cfa8","type":"function","z":"19645299.d4ff1d","name":"","func":"msg.payload=\"Hey \"+msg.payload.name+\"! Registration Successful.\"\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":260,"wires":[["f90e3574.19ea28"]]},{"id":"f90e3574.19ea28","type":"ui_text","z":"19645299.d4ff1d","group":"6ae96e0c.bba2e","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":260,"wires":[]},{"id":"82080fc8.4898","type":"ui_form","z":"19645299.d4ff1d","name":"","label":"","group":"68bfd81d.8e71f8","order":1,"width":0,"height":0,"options":[{"label":"Enter Email Id","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"pwd","type":"password","required":true,"rows":null}],"formValue":{"email":"","pwd":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":460,"wires":[["1a676ec3.a86c31"]]},{"id":"1a676ec3.a86c31","type":"function","z":"19645299.d4ff1d","name":"","func":"global.set(\"email\",msg.payload.email);\nglobal.set(\"pwd\",msg.payload.pwd);\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":400,"wires":[["b604d27.385753"]]},{"id":"b604d27.385753","type":"function","z":"19645299.d4ff1d","name":"","func":"var email = global.get(\"email\")\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":400,"wires":[["b946391e.f3bb08"]]},{"id":"80221a13.492d28","type":"debug","z":"19645299.d4ff1d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":460,"wires":[]},{"id":"f92840e4.db7c6","type":"function","z":"19645299.d4ff1d","name":"","func":"var pwd = global.get(\"pwd\")\nif(msg.payload.PASSWORD==pwd){\n    msg.payload=\"Login successful!\"\n}\nelse{\n    msg.payload=\"Invalid Password\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":540,"wires":[["50e88f9.04ced7"]]},{"id":"50e88f9.04ced7","type":"ui_text","z":"19645299.d4ff1d","group":"68bfd81d.8e71f8","order":2,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":540,"wires":[]},{"id":"d6b2de5c.ea2d2","type":"dashDB out","z":"19645299.d4ff1d","dashDB":"8bac648.ba68e98","service":"_ext_","table":"STUDENT_DETAILS","name":"","x":460,"y":160,"wires":[]},{"id":"b946391e.f3bb08","type":"dashDB in","z":"19645299.d4ff1d","dashDB":"8bac648.ba68e98","service":"_ext_","query":"select PASSWORD from STUDENT_DETAILS where EMAIL=email;","params":"","name":"","x":600,"y":460,"wires":[["80221a13.492d28","f92840e4.db7c6"]]},{"id":"6ae96e0c.bba2e","type":"ui_group","z":"","name":"Registration","tab":"fe359a4c.30c3e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"68bfd81d.8e71f8","type":"ui_group","z":"","name":"Login","tab":"62232165.dc408","order":1,"disp":true,"width":"6","collapse":false},{"id":"8bac648.ba68e98","type":"dashDB","z":"","hostname":"dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net","db":"BLUDB","port":"50000","name":""},{"id":"fe359a4c.30c3e8","type":"ui_tab","z":"","name":"Student","icon":"dashboard","disabled":false,"hidden":false},{"id":"62232165.dc408","type":"ui_tab","z":"","name":"Student Login","icon":"dashboard","disabled":false,"hidden":false}]