NodeRED_flow.json
[{"id":"3854bdf0.bd0542","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"dec3ed8.b7fbe1","type":"ui_form","z":"3854bdf0.bd0542","name":"","label":"","group":"6d6151b6.a9ce","order":1,"width":13,"height":2,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":140,"y":260,"wires":[["c87ccfc8.3e7"]]},{"id":"c87ccfc8.3e7","type":"function","z":"3854bdf0.bd0542","name":"","func":"msg.payload= msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":180,"wires":[["4261b13d.cc477","9aee70a1.0d1a4"]]},{"id":"dd465ebf.3aa38","type":"function","z":"3854bdf0.bd0542","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":180,"wires":[["f0266d54.e0e32"]]},{"id":"4261b13d.cc477","type":"watson-conversation-v1","z":"3854bdf0.bd0542","name":"Customer Help Desk","workspaceid":"2aefa0e4-6226-4a9c-b473-5419708e253b","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/26c12582-ac78-4640-b0c7-0138a61d20d1","timeout":"","optout-learning":false,"x":520,"y":80,"wires":[["402e6004.ef0ef","dd465ebf.3aa38"]]},{"id":"9aee70a1.0d1a4","type":"ui_text","z":"3854bdf0.bd0542","group":"6d6151b6.a9ce","order":2,"width":13,"height":2,"name":"","label":"You:","format":"{{msg.payload}}","layout":"row-left","x":470,"y":260,"wires":[]},{"id":"402e6004.ef0ef","type":"debug","z":"3854bdf0.bd0542","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":80,"wires":[]},{"id":"f0266d54.e0e32","type":"ui_text","z":"3854bdf0.bd0542","group":"6d6151b6.a9ce","order":3,"width":13,"height":5,"name":"","label":"Bot:","format":"{{msg.payload}}","layout":"col-center","x":830,"y":180,"wires":[]},{"id":"6d6151b6.a9ce","type":"ui_group","z":"","name":"ChatBot","tab":"f8f0f3fd.ba26a","order":1,"disp":true,"width":13,"collapse":false},{"id":"f8f0f3fd.ba26a","type":"ui_tab","z":"","name":"Customer Care Help Desk","icon":"dashboard","disabled":false,"hidden":false}]